{% extends "base.html" %}

{%block layout%}
	<header>
      <div id="banner_top">
         <p>Envio Gratis a Todo el Perú por compras mayores a S/.60.00</p>
      </div>
      <div id="menu_top">
         <div id="menu_top_ayudas">
            <ul>
               <li>x</li>
               <li><span class="glyphicon glyphicon-earphone"></span>(01)556-3314</li>
               <li><a href=""><span class="glyphicon glyphicon-headphones"></span>Soporte en Vivo</a></li>
               <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span>Ayuda</a></li>
            </ul>
         </div>
         <div id="menu_top_buscar">
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" class="buscador">
         </div>
         <div id="menu_top_usuario">
            <ul>
               <li><a class="link" href="/user/ingresar/"><span class="glyphicon glyphicon-user"></span> Ingresar</a></li>
            </ul>
         </div>
      </div>
      <div id="menu_principal">
         <div id="logo">
            <h1><a class="link" href="/">LovizDelCarpio</a></h1>
         </div>
         <div id="navegacion">
            <ul>
               <li><a class="link" href="/pagina/mujeres/">Mujeres</a></li>
               <li><a href="/pagina/hombres/">Hombres</a></li>               
               <li><a href="">Kids</a></li>
               <li><a class="link" href="/catalogo/ofertas/">Ofertas</a></li>
               <li><a href="">Sobre LovizDelcarpio</a></li>
            </ul>
         </div>
         <div id="minicarro">
            <a class="link" href="/carro/"><span class="glyphicon glyphicon-shopping-cart"></span><span class="num">0</span></a>
         </div>
      </div>
      <div id="banner_header">
         <div>Comenzaron las Fiestas</div>
      </div>
   </header>
   <section id="contenido">
   </section>
   <footer>
      <div id="footer"></div>
      <div id="bootom_footer"></div>
   </footer>
{%endblock%}

{% block templatesjs %}
	{% verbatim %}
      <!--Este es template Pagina-->
      <script id="pagina_template" type="text/template">
         <div class="banners">
            <div class="contenedor">
               <div class="container-fluid">
                  <div id="banners" class="row">
                  </div>
               </div>
            </div>
         </div>
         <div class="carruseles">
            <div id="carruseles" class="contenedor">
            </div>
         </div>
         <h1>{{titulo}}</h1>
         <div id="cuerpo">{{cuerpo}}</div>
         <div id="bloques_extras"></div>
      </script>

      <!--Este es template Catalgo-->
      <script id="catalogo_template" type="text/template">
         <h1>Estes es Catalogo</h1>
         <div id="lateral"></div>
         <div id="cuerpo">
            <div id="filtros"></div>
            <div id="bloques_extras"></div>                        
         </div>
      </script>

      <!--Este es Template de Carro-->
      <script id="carro_template" type="text/template">
         <h1>este es Carro</h1>
         <div id="carro_cuerpo"></div>
         <div id="bloques_extras"></div>
      </script>

      <!--Este es Template de single_producto-->
      <script id="single_producto_template" type="text/template">
         <h1>Este es Single Product</h1>
         <div id="galeria"></div>
         <div id="datos"></div>
         <div id="descripcion"></div>
         <div id="recomendados"></div>
      </script>

      <!--Este es Template de Componentes-->
      <script id="banner_template" type="text/template">
         <a href="{{link}}">
            <figure>
               <img src="{{foto}}" alt="">
            </figure>
            <div class="cuerpo">
               {{cuerpo}}
            </div>
         </a>
      </script>

      <script id="carrusel_cuerpo_template" type="text/template">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-3">
                  <h2>{{titulo}}</h2>
                  <div class="cuerpo">
                     <p>{{cuerpo}}</p>
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="lista"></div>
               </div>
            </div>
         </div>
      </script>

      <script id="carrusel_cuerpo_derecha_template" type="text/template">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-9">                  
                  <div class="lista"></div>
               </div>
               <div class="col-md-3">
                  <h2>{{titulo}}</h2>
                  <div class="cuerpo">
                     <p>{{cuerpo}}</p>
                  </div>
               </div>
            </div>
         </div>
      </script>

      <script id="carrusel_centro_template" type="text/template">
        <h3>{{titulo}}</h3>
        <div class="lista">
        </div>
      </script>
      <!--Componentes Listas de la web-->
      <script id="producto_lista_template" type="text/template">
         <span class="glyphicon glyphicon-search"></span>
            <a class="interno" href="/producto/{{slug}}/">
                <figure>
                    <img src="{{thum}}" alt="{{full_name}} {{marca}}">
                </figure>
                <div class="nombre_producto">
                    <div class="estilo">{{categoria}} {{estilo}}</div>
                    <div class="nombre">{{nombre}} {{color}}</div>
                </div>
                <div class="precios">
                    {%if en_oferta %}
                    <span class="old_precio">S/. {{precio}}</span>
                    {%endif%}
                    <span class="precio {%if en_oferta%}en_oferta{% endif %}">S/. {{precio_mostrar}}</span>
                </div>
            </a>
            <div class="estrellas">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
      </script>

      <script id="comentario_lista_template" type="text/template">
        <div class="coment_usuario">
          <figure>
            <img src="https://lh3.googleusercontent.com/-vxtOFsB6c08/UtWelvFRt3I/AAAAAAAAHpU/VgWmi3EqqaQ/s200-no/anonymous_200.gif" alt="">
          </figure>
          <a href="/usuario/{{usuario}}">{{nombre}}</a>
          <div class="tiempo">Hace {{creado}}</div>
        </div>
        <div class="coment_cuerpo">{{comentario}}</div>
        <div class="coment_producto">
          <figure>
            <img src="{{img_producto}}" alt="">
          </figure>
        </div>
      </script>
   {% endverbatim %}
{% endblock %}