{% extends "base.html" %}

{%block layout%}
	<header>
    <section class="header_banner">
      <div id="baner_top"></div>
    </section>
    <section class="header_utilis container-fluid">
      <div class="row">
        <div id="menu_top_ayuda" class="enlinea"></div>
        <div id="menu_top_usuario" class="pull-right"></div>
        <div id="menu_top_buscar" class="pull-right">
          <span class="glyphicon glyphicon-search"></span>
        </div>
      </div>
    </section>
    <section class="header_principal container-fluid">
      <div class="contenedor row">
        <div class="col-md-3" id="logo"><h1><a class="link" href="/">LovizDelCarpio</a></h1></div>
        <div class="col-md-7" id="navegacion"></div>
        <div class="pull-right" id="mini_carro"></div>
      </div>
    </section>
    <div id="linea_addcart"></div>
    <section class="header_banner">
      <div id="banner_header"></div>
    </section>
   </header>
   <section id="contenido">
   </section>
   <footer>
      <div id="footer"></div>
      <div id="bootom_footer"></div>
   </footer>
{%endblock%}

{% block templatesjs %}
	{% verbatim %}
      <!--Este es template Pagina-->
      <script id="pagina_template" type="text/template">
        <div class="contenedor">
          <div class="banners">
            <div class="contenedor">
               <div class="container-fluid">
                  <div id="banners" class="row">
                  </div>
               </div>
            </div>
         </div>
         <div id="breadcrumb">           
         </div>
         <div class="carruseles">
            <div id="carruseles" class="contenedor">
            </div>
         </div>
         <h1 class="titulo">{{titulo}}</h1>
         <div id="cuerpo">{{cuerpo}}</div>
         <div id="bloques_extras"></div>
        </div>
      </script>

      <!--Este es template Catalgo-->
      <script id="catalogo_template" type="text/template">
        <div class="contenedor">
          <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <aside class="lateral"></aside>
            </div>
            <div class="col-md-10">
              <div id="filtros"></div>
              <div class="productos"></div>
              <div id="bloques_extras"></div>                          
            </div>
          </div>
        </div>
        </div>
      </script>

      <!--Este es Template de Carro-->
      <script id="carro_template" type="text/template">
        <div class="contenedor">
          <h1 class="titulo">Su carrito de compras</h1>
         <div id="carro_cuerpo">
            <h3>Tu tienes <span>{{lineas}}</span> producto en tu carrito de compras</h3>
            {%if lineas != 0 %}
              <div class="lineas_productos">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ref. de producto</th>
                            <th>talla</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="lineas_carro">
                    </tbody>
                </table>
              </div>
              <div id="tabla_carro">
              </div>
            {%endif%}
         </div>
         <div id="bloques_extras"></div>
        </div>
      </script>

      <script id="carro_tabla_total_template" type="text/template">
            <table>
                <tr>
                    <td><label for="">Subtotal</label></td>
                    <td>S/. {{subtotal}}</td>
                </tr>
                <tr>
                    <td><label for="">Envio estimado</label></td>
                    <td>S/. --.--?</td>
                </tr>
                <tr>
                    <td><label for="">Total</label></td>
                    <td>S/. {{total}}</td>
                </tr>
            </table>
      </script>

      <script id="mini_carro_template" type="text/template">
        <a class="link" href="/carro/">
          <span class="glyphicon glyphicon-shopping-cart"></span>Carrito <span class="badge number">{{lineas}}</span>
        </a>
      </script>

      <script id="carro_linea_template" type="text/template">
        <td class="img"><img src="{{thum}}" alt=""></td>
        <td class="name">{{nombre}}</td>
        <td class="tall">{{talla}}</td>
        <td class="precio">S/. {{precio}}</td>
        <td class="cantidad"><span class="up"></span><span class="numero">{{cantidad}}</span><span class="down"></span></td>
        <td class="total">S/. {{subtotal}}</td>
        <td class="accion"><span class="icon-trashcan"></span></td>
      </script>

      <script id="linea_addcart_template" type="text/template">
        <img src="https://apiloviz.s3.amazonaws.com/cache/f0/56/f0567e5d0c8de7b2cc49c90fc77ff622.jpg" alt="">
        <div class="nombre_produ">
          <h4>PANTUFLA GATITO ESTAMPADO</h4>
          <p>Añadido al carrito</p>
        </div>
      </script>


      <!--Este es Template de single_producto-->
      <script id="producto_single_template" type="text/template">
        <div class="container-fluid">
          <div class="contenedor row">
            <div id="galerias" class="col-md-7">
              <div id="producto_galeria"></div>
            </div>
            <div id="datos" class="col-md-5">
              <p>{{genero}}</p>
              <h1 class="titulo">{{full_name}} - <i>{{marca}}</i></h1>
              <div class="precios_single">
                {%for varia in variaciones %}
                <div class="variacion {%if loop.first%}visible{%endif%} {{varia.id}}">
                  {%if varia.oferta > 0 %}
                  <span class="old_precio">S/. {{varia.precio}}</span>
                  {%endif%}
                  <span class="precio">S/. {{varia.precio_venta}}</span>
                </div>
                {%endfor%}
              </div>
              <div class="reviews">
                <div id="estrellas">
                </div>
                <span>Escribe tu comentario</span>
              </div>
              <div class="descripcion">
                <label for="">Descripcion</label>
                {{descripcion|striptags}}
              </div>
              <div class="color_selection">
                <label for="">Color Seleccionado:</label><span class="color">{{color}}</span>
                <div class="colores">
                  <a class="interno" href="#" class="nolink">
                    {%for img in imagenes_producto%}
                      {%if loop.first%}
                        <img src="{{img.imagen_thum}}" alt="">
                      {%endif%}
                    {%endfor%}
                  </a>
                  {%for pariente in parientes%}
                    <a class="interno" href="/producto/{{pariente.slug}}/">
                      <img src="{{pariente.thum}}" alt="">
                    </a>
                  {%endfor%}
                  </div>
                </div>
                <div class="formulario_producto">
                  <div>
                    <select name="talla" id="" class="talla form-control">
                      <option value=''>Selecciona una talla</option>
                      {%for varia in variaciones%}
                        <option value="{{varia.id}}">{{varia.talla}}</option>
                      {%endfor%}
                    </select>
                  </div>
                  <div>
                    <button class="addcart btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al Carrito</button>
                  </div>
                </div>
            </div>
          </div>          
        </div>
      </script>

      <script id="producto_single_galeria_template" type="text/template">
        <div class="col-md-2 thum">
          {%for img in imagenes_producto%}
            <a class="interno" href="" data-bigimga="{{img.imagen}}">
              <img src="{{img.imagen_thum}}" alt="">
            </a>
          {%endfor%}
        </div>
        <div class="col-md-10 imagenes">
          {%for img in imagenes_producto%}
            {%if loop.first%}
              <img class="imagen_normal" src="{{img.imagen}}" alt="">
            {%endif%}
          {%endfor%}
        </div>
      </script>

      <!--fin de los templates de los productos Singles-->

      <!--Este es Template de Componentes-->
      <script id="banner_template" type="text/template">
         <a href="{{link}}">
            <figure>
               <img src="{{foto}}" alt="">
            </figure>
            <div class="cuerpo">
               {{cuerpo}}
            </div>
         </a>
      </script>

      <!--Usaurio Inicio de Template-->
      <script id="mini_usuario_template" type="text/template">
        {%if username %}
          <a class="link" href="/perfil/"><span class="glyphicon glyphicon-user"></span> {{username}}</a>
        {%else%}
          <a class="login_face" href="/login/facebook/">Ingresar con <span class=""></span></a>
          <a class="link" href="/ingresar/"><span class="glyphicon glyphicon-user"></span> Ingresar</a>
        {%endif%}
      </script>
      <!--Fin de Vistas de Usuario-->

      <script id="carrusel_cuerpo_left_template" type="text/template">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-3">
                  <h2>{{titulo}}</h2>
                  <div class="cuerpo">
                     <p>{{cuerpo}}</p>
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="lista"></div>
               </div>
            </div>
         </div>
      </script>

      <script id="carrusel_cuerpo_derecha_template" type="text/template">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-9">                  
                  <div class="lista"></div>
               </div>
               <div class="col-md-3">
                  <h2>{{titulo}}</h2>
                  <div class="cuerpo">
                     <p>{{cuerpo}}</p>
                  </div>
               </div>
            </div>
         </div>
      </script>

      <script id="carrusel_centro_template" type="text/template">
        <h3>{{titulo}}</h3>
        <div class="lista">
        </div>
      </script>
      <!--Componentes Listas de la web-->
      <script id="producto_lista_template" type="text/template">
         <span class="icono glyphicon glyphicon-search"></span>
            <a class="link" href="/producto/{{slug}}/">
                <figure>
                    <img src="{{thum}}" alt="{{full_name}} {{marca}}">
                </figure>
                <div class="nombre_producto">
                    <div class="estilo">{{categoria}} {{estilo}}</div>
                    <div class="nombre">{{nombre}} {{color}}</div>
                </div>
                <div class="precios">
                    {%if en_oferta %}
                    <span class="old_precio"><s>S/. {{precio}}</s></span>
                    {%endif%}
                    <span class="precio {%if en_oferta%}en_oferta{% endif %}">S/. {{precio_mostrar}}</span>
                </div>
            </a>
            <div class="estrellas">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
      </script>

      <script id="comentario_lista_template" type="text/template">
        <div class="coment_usuario">
          <figure>
            <img src="https://lh3.googleusercontent.com/-vxtOFsB6c08/UtWelvFRt3I/AAAAAAAAHpU/VgWmi3EqqaQ/s200-no/anonymous_200.gif" alt="">
          </figure>
          <a href="/usuario/{{usuario}}">{{nombre}}</a>
          <div class="tiempo">Hace {{creado}}</div>
        </div>
        <div class="coment_cuerpo">{{comentario}}</div>
        <div class="coment_producto">
          <figure>
            <img src="{{img_producto}}" alt="">
          </figure>
        </div>
      </script>

      <script id="bloque_limpio" type="text/template">
        {{cuerpo}}
      </script>

      <script id="bloque_template" type="text/template">
        <h2 class="titulo">{{titulo}}</h2>
        <div class="cuerpo_bloque">{{cuerpo}}</div>
      </script>

      <script id="menu_template" type="text/template">
        <h2 class="titulo">
          {{titulo}}
        </h2>
        <ul class="menu links">
          {%for link in links%}
            <li>
              <a class="{{link.css}}" href="{{link.enlace}}">
                {%if link.icono%}
                  <span class="{{link.icono}}"></span>
                {%endif%}
                {{link.titulo}}
              </a>
            </li>
          {%endfor%}
        </ul>
      </script>

      <script id="estrellas_template" type="text/template">
        {%for estrella in estrellas%}
          {%if estrella %}
            <span class="glyphicon glyphicon-star"></span>
          {% else %}
            <span class="glyphicon glyphicon-star-empty"></span>  
          {%endif%}
        {%endfor%}
      </script>

      <script id="bread_template" type="text/template">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
      </script>

      <script id="filtro_template" type="text/template">
        <h2 class="titulo">{{titulo}}</h2>
        <div class="filtros"></div>
      </script>

      <script id="filtro_link_template" type="text/template">
        {%if categoria === true%}
          <a data-nombre='categoria_slug' data-valor='{{slug}}' class="link" href="/categoria/{{slug}}/">
            <span class="icon-stop"></span>{{nombre}} ({{num}})</a>
        {%else%}
          <label>
            <input type="radio" name="{{filtro}}" id="{{slug}}" value="{{slug}}" data-nombre='{{filtro}}' data-valor='{{nombre}}'>
            {{nombre}} ({{num}})
          </label>
        {%endif%}
      </script>

      <script id="etique_filtro_template" type="text/template">
        <span class="glyphicon glyphicon-remove"></span>{{nombre}}
      </script>
   {% endverbatim %}
{% endblock %}