<div id="metodo_paypal" class="metodo col-md-12">
                        <div class="radio">
                          <label>
                            <input type="radio" name="metodo_pago" id="optionsRadios1" value="option1">
                            Pagar con Paypal
                          </label>
                        </div>
                        <div class="cuerpo_metodo">
                          Si deseas pagar con Paypal. Si cuentas con una cuenta paypal puedes utilizarla en nuestra tienda online. Si no la tienes, también puedes crearla para realizar pagos en diferentes tipos de tarjeta de crédito. Una vez conforme serás re dirigido a la página oficial de paypal para concretar tu transacción.
                          <div class="col-md-6"></div>
                          <div class="col-md-6">
                            <button class="btn btn-default contraste1">Pagar mi Order</button>                          
                          </div>
                        </div>
                      </div>
                      <div id="metodo_deposito" class="metodo col-md-12">
                        <div class="radio">
                          <label>
                            <input type="radio" name="metodo_pago" id="optionsRadios1" value="option1">
                            Deposito Bancario  (BCP)                             
                          </label>
                        </div>
                        <div class="cuerpo_metodo"> 
                            <p>
                              Este servicio te permite pagar a nivel nacional realizando un depósito o transferencia de tu cuenta corriente o de ahorros directamente a nuestra cuenta. Para realizar el pago presencial debes:
                            </p>
                            Recuerda que tienes <b>48 horas</b> para efectuar el pago o tu pedido será cancelado automáticamente.
                            <p><label for="">Numero de cuenta</label> 191-2078749-0-62</p>
                            <p><label for="">Nombre de cuenta</label> Inversiones Lopez Del carpio EIRL</p>
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                              <button class="btn btn-default contraste1">Pagar mi Order</button>                          
                            </div>
                        </div>
                      </div>
                      <div id="metodo_efectivo" class="metodo col-md-12">
                        <div class="radio">
                          <label>
                            <input type="radio" name="metodo_pago" id="optionsRadios1" value="option1">
                            Pagar en efectivo  (contra entrega) 
                          </label>
                        </div>
                        <div class="cuerpo_metodo">
                          <p>Este servicio solo esta habilitado para Lima Metropolitana y Callao.</p>
                          <p>Es sencillo usted solo debe seleccionar este metodo de pago y pagar cuando llega a su casa u oficina</p>
                          <div class="col-md-6"></div>
                            <div class="col-md-6">
                              <button class="btn btn-default contraste1">Pagar mi Order</button>                          
                            </div>
                        </div>
                      </div>