//letras
f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;

color1 = #F7727A
color2 = #2dbab2
//Estructurales
.contenedor
	max-width 1200px
	margin 0 auto
#banner_header
	height 400px
	background-color #f9f9f9
//Estilos
body
	a
		color #111
	.bloque
		padding 2px
	img
		width 100%
	.enlinea
		display inline-block
	.titulo
	.text_imprenta
		font-family f_imprenta
		text-transform uppercase
	.text_cursiva
		font-family f_cusrsiva
	.visible
		display block!important
	.contraste1
		background #111
		color #fff
	.clickeable
		cursor pointer
#banner_header
	&.banner
		height 100px!important
.btn-default
	color #fff
	background #111
	font-family f_imprenta
	text-transform uppercase
	font-size 1.2em
	&:hover
		background color2
		color #111
#contenido
	padding 10px 0
.carro
	.titulo
		text-align center
	.subtitulo
		font italic 21px Georgia, "Times New Roman", serif
		span
			font-weight bold
	.lineas_productos
		.table
			border-bottom 1px solid #111			
			thead
				text-transform uppercase
			.cantidad
				.boton-cantidad
					cursor pointer
				.numero
					border 1px solid #ccc
					padding 5px 20px
			.img
				width 160px
			.name
				font-size 20px
	.table
		font-family f_imprenta
	#tabla_carro
		.table
			font-size 1.3em			
			label
				text-transform uppercase
				font-weight normal		
		
.header_principal
	padding 10px 0
	border-top 1px solid #f4f4f4
	border-bottom 1px solid #f4f4f4
	#mini_carro
		.number
			background #333
.header_utilis
	#menu_top_ayuda
	#menu_top_usuario
		li
			border-right 1px solid #f4f4f4
		a
			padding 5px 10px
			letter-spacing 1px
			display inline-block
	#menu_top_buscar
		span
			padding 6px 10px
	#menu_top_usuario
		a
			border-left 1px solid #f4f4f4	
#logo
	font-family f_cusrsiva
	h1
		padding 0
		margin 0
	a:hover
		color #111
		text-decoration none
#menu_top_ayuda
	li
		a
			padding 0 5px
#mini_carro
	padding 10px
#navegacion
	li
		a
			padding 10px
			display inline-block
			font-size 1.1em
.parallax
	width 100%
	background-position center top
	overflow hidden
	position relativa
	background-attachment fixed
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
.producto_single
	.precios_single
		.variacion
			display none
.productos
	.producto
		&:hover
			.icono
				display block
			.estrellas
				opacity 1
		a
			font-size 1.2em
		a:hover
			color #333			
		text-align center
		position relative
		.icono
			position absolute
			top 5px
			display none
			right 25px
		.estrellas
			opacity 0
		.nombre_producto
			text-transform uppercase
			font-family f_imprenta
			.nombre
				font-weight bold
		.precios
			.old_precio
				font-size 0.8em
			.en_oferta
				color color1
			.precio
				font-weight 600				
ul.menu
	padding 0
	margin 0
	li
		list-style none
		display inline-block
		font-family f_imprenta
		text-transform uppercase
.sin-titulo
	.titulo
		display none