//letras
f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;

//Estructurales
.contenedor
	max-width 1200px
	margin 0 auto

//Estilos
body
	a
		color #111
	img
		width 100%
	.text_imprenta
		font-family f_imprenta
		text-transform uppercase
	.text_cursiva
		font-family f_cusrsiva
.bloque
	padding 2px
	&.sin-titulo
		.titulo
			display none
.contraste1
	background #111
	color #fff
#logo
	font-family f_cusrsiva
	h1
		padding 0
		margin 0
	a:hover
		color #111
		text-decoration none
#menu_principal
	padding 10px 0
	border-top 1px solid #f4f4f4
	border-bottom 1px solid #f4f4f4

#navegacion
	li
		a
			padding 10px
			display inline-block
ul.menu
	padding 0
	margin 0
	li
		list-style none
		display inline-block
		font-family f_imprenta
		text-transform uppercase